{% extends 'base.html' %}

{% block contenido %}
<div class="row g-2" style="height: 90vh !important;">
    {% include 'logo_izquierdo.html' %}

    <div class="col-md-7 col-sm-12 d-flex justify-content-center align-items-center flex-column">
        <h3>Inicio de Sesión</h3>
        {% if error %}
        <div class="alert alert-danger w-75" role="alert">
            {{error}}
        </div>
        {% endif %}

        <form method="post" class="row">
            {% csrf_token %}
            <div class="col-12 d-flex flex-column g-2">
                <label class="text-start" for="usuario">Usuario:</label>
                <input type="usuario" name="usuario" id="usuario" class="form-control w-100" required>
            </div>
    
            <div class="col-12 d-flex flex-column g-2">
                <label class="text-start" for="password">Contraseña:</label>
                <input type="password" name="password" id="password" class="form-control w-100" required>
            </div>
    
            <div class="col-12 d-flex justify-content-center mt-3">
                <button type="submit" class="btn btn-danger">Iniciar Sesión</button>
            </div>
                
        </form>
    </div>

</div>
{% endblock %}