{% extends 'base.html' %}

{% block contenido %}
<div class="row">
    <div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center border-end" style="height: 90vh;">
        <div class="w-100 p-5">
            <h5 class="text-center">Formulario de Filtrado</h5>
            <form class="d-flex flex-column">
                <label for="autor">Autor</label>
                <input id="autor" type="text" class="form-control" 
                hx-get="{% url 'filtrar_libros' %}" 
                hx-trigger="keyup delay:1s" 
                hx-vals='js:{"autor": document.getElementById("autor").value, "titulo": document.getElementById("titulo").value, "ano": document.getElementById("ano").value, "descriptores": document.getElementById("descriptores").value}' 
                hx-target="#resultados_libros"> <br>
                
                <label for="titulo">Título</label>
                <input id="titulo" type="text" class="form-control"
                hx-get="{% url 'filtrar_libros' %}" 
                hx-trigger="keyup delay:1s" 
                hx-vals='js:{"autor": document.getElementById("autor").value, "titulo": document.getElementById("titulo").value, "ano": document.getElementById("ano").value, "descriptores": document.getElementById("descriptores").value}' 
                hx-target="#resultados_libros"> <br>

                <label for="ano">Año</label>
                <input id="ano" type="text" class="form-control"
                hx-get="{% url 'filtrar_libros' %}" 
                hx-trigger="keyup delay:1s" 
                hx-vals='js:{"autor": document.getElementById("autor").value, "titulo": document.getElementById("titulo").value, "ano": document.getElementById("ano").value, "descriptores": document.getElementById("descriptores").value}' 
                hx-target="#resultados_libros"> <br>

                <label for="">Descriptores</label>
                <input id="descriptores"  type="text" class="form-control"
                hx-get="{% url 'filtrar_libros' %}" 
                hx-trigger="keyup delay:1s" 
                hx-vals='js:{"autor": document.getElementById("autor").value, "titulo": document.getElementById("titulo").value, "ano": document.getElementById("ano").value, "descriptores": document.getElementById("descriptores").value}' 
                hx-target="#resultados_libros"> <br>
            </form>
        </div>    
    </div>
    <div class="col-md-8 col-sm-12" style="height: 90vh;">
        <div>
            <h3 class="text-center">Resultados</h3>
        </div>
        <div class="row g-2 p-2" style="overflow-y: scroll; height: 85vh;" id="resultados_libros">
            {% include 'partials/lista_libros.html' %}              
        </div>
    </div>
</div>
{% endblock %}