{% extends 'base.html' %}

{% load widget_tweaks %}

{% block contenido %}
<div style="min-height: 90vh;" class="container">
    <h2 class="text-center">Registro de Nuevo Libro</h2>
    <hr>

    <form method="post">
        {% csrf_token %}
    
        <div class="row">
            {{form.errors}}
            <div class="col-12">
                <h4 class="text-center mb-3">Datos Generales</h3>
            </div>

            <div class="form-group col-md-4 col-sm-12">
                <label for="codigo">Código:</label>
                {% render_field form.codigo class="form-control" %}
            </div>
            <div class="form-group col-md-8 col-sm-12">
                <label for="titulo">Título del Libro:</label>
                {% render_field form.titulo class="form-control" %}
            </div>

            <div class="form-group col-md-6 col-sm-12">
                <label for="autores">Autores del Libro:</label>
                {% render_field form.autores class="form-control" %}
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label for="ano_publicacion">Año de publicación:</label>
                {% render_field form.ano_publicacion class="form-control" %}
            </div>

            <div class="form-group col-md-6 col-sm-12">
                <label for="descriptores">Dirección en el servidor:</label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">\\172.20.30.114\</span>
                    {% render_field form.direccion class="form-control" %}
                </div>
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label for="direccion">Descriptores (separe con ;):</label>
                {% render_field form.descriptores class="form-control" %}
            </div>

            <div class="form-group col-12">
                <label for="resumen">Resumen:</label>
                {% render_field form.resumen class="form-control" %}
            </div>

            <!-- INFORMACIÓN DE UBICACIÓN -->

            <div class="col-12">
                <hr>
                <h4 class="mb-3 text-center">Información de Ubicación</h4>
            </div>

            <div class="form-group col-md-6 col-sm-12">
                <label for="cdinf">C. de Inf.:</label>
                {% render_field form.cdinf class="form-control" %}
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label for="cdlc">C. de LC:</label>
                {% render_field form.cdlc class="form-control" %}
            </div>

            <div class="form-group col-md-6 col-sm-12">
                <label for="cdcuter">C. de Cuter:</label>
                {% render_field form.cdcuter class="form-control" %}
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label for="cdewey">C. de Dewey:</label>
                {% render_field form.cddewey class="form-control" %}
            </div>

            <div class="col-12 d-flex justify-content-center mt-3">
                <button type="submit" class="btn btn-danger">Enviar Formulario</button>
            </div>
            
        </div>
    </form>
</div>
{% endblock %}