{% extends 'base.html' %}

{% load widget_tweaks %}

{% block contenido %}
<div style="min-height: 90vh;" class="container">
    <div class="row">
        <div class="col-3 d-flex justify-content-center align-items-center">
            <a href="{% url 'busqueda_informes' %}?titulo={{request.session.params_informes.titulo}}&autor={{request.session.params_informes.autor}}&ano={{request.session.params_informes.ano}}&descriptores={{request.session.params_informes.descriptores}}&archivo={{request.session.params_informes.archivo}}&solicitud_servicio={{request.session.params_informes.solicitud_servicio}}&programa={{request.session.params_informes.programa}}" 
                    class="btn btn-secondary">↶ Regresar</a>&nbsp;
        </div>
        <div class="col-6">
            <h2 class="text-center">{{titulo}}</h2>
        </div>
        <div class="col-3"></div>
    </div>
    <hr>

    <form method="post" enctype="multipart/form-data" onSubmit="document.getElementById('submit').disabled=true;">
        {% csrf_token %}
    
        <div class="row">
            <div class="col-12">
                <h4 class="text-center mb-3">Datos Generales</h3>
            </div>

            <div class="form-group col-md-4 col-sm-12">
                <label for="codigo">Código:</label>
                {% render_field form.codigo class="form-control" %}
                {% if form.codigo.errors %}<span>{% for error in form.codigo.errors %}{{error}} {% endfor %}</span>{% endif %}
            </div>
            <div class="form-group col-md-8 col-sm-12">
                <label for="titulo">Título del Libro:</label>
                {% render_field form.titulo class="form-control" %}
                {% if form.titulo.errors %}<span>{% for error in form.titulo.errors %}{{error}} {% endfor %}</span>{% endif %}
            </div>

            <div class="form-group col-md-6 col-sm-12">
                <label for="autores">Autores del Libro:</label>
                {% render_field form.autores class="form-control" %}
                {% if form.autores.errors %}<span>{% for error in form.autores.errors %}{{error}} {% endfor %}</span>{% endif %}
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label for="ano_publicacion">Año de publicación:</label>
                {% render_field form.ano_publicacion class="form-control" %}
                {% if form.ano_publicacion.errors %}<span>{% for error in form.ano_publicacion.errors %}{{error}} {% endfor %}</span>{% endif %}
            </div>

            <div class="form-group col-12">
                <label for="descriptores">Documento:</label>
                <div class="input-group">
                    <input type="file" name="archivo" accept="application/pdf" class="form-control" id="id_archivo">
                </div>
                {% if form.archivo.errors %}<span>{% for error in form.archivo.errors %}{{error}} {% endfor %}</span>{% endif %}
                {% if object.archivo and object.archivo_existe %}
                <small><a href="{% url 'leer_libro' pk=object.pk %}" target="_blank">Ya hay un archivo cargado.</a></small>
                {% endif %}
            </div>
            <div class="form-group col-12">
                <label for="direccion">Descriptores (separe con ;):</label>{% if object and object.archivo and object.archivo_existe %}&nbsp; <button style="height: 30px; padding-top: 0%;" hx-indicator="#spinner" class="btn btn-info" hx-swap="beforeend" hx-get="{% url 'generar_descriptores' pk=object.pk tipo='libro' %}" hx-target="#id_descriptores"><small>Generar Descriptores</small></button>{%endif%}
                {% render_field form.descriptores class="form-control" %} 
                {% if form.descriptores.errors %}<span>{% for error in form.descriptores.errors %}{{error}} {% endfor %}</span>{% endif %}
            </div>

            <div class="form-group col-12">
                <label for="resumen">Resumen:</label>
                {% render_field form.resumen class="form-control" %}
                {% if form.resumen.errors %}<span>{% for error in form.resumen.errors %}{{error}} {% endfor %}</span>{% endif %}
            </div>

            <!-- INFORMACIÓN DE UBICACIÓN -->

            <div class="col-12">
                <hr>
                <h4 class="mb-3 text-center">Información de Ubicación</h4>
            </div>

            <div class="form-group col-md-6 col-sm-12">
                <label for="cdinf">C. de Inf.:</label>
                {% render_field form.cdinf class="form-control" %}
                {% if form.cdinf.errors %}<span>{% for error in form.cdinf.errors %}{{error}} {% endfor %}</span>{% endif %}
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label for="cdlc">C. de LC:</label>
                {% render_field form.cdlc class="form-control" %}
                {% if form.cdlc.errors %}<span>{% for error in form.cdlc.errors %}{{error}} {% endfor %}</span>{% endif %}
            </div>

            <div class="form-group col-md-6 col-sm-12">
                <label for="cdcuter">C. de Cuter:</label>
                {% render_field form.cdcuter class="form-control" %}
                {% if form.cdcuter.errors %}<span>{% for error in form.cdcuter.errors %}{{error}} {% endfor %}</span>{% endif %}
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label for="cdewey">C. de Dewey:</label>
                {% render_field form.cddewey class="form-control" %}
                {% if form.cddewey.errors %}<span>{% for error in form.cddewey.errors %}{{error}} {% endfor %}</span>{% endif %}
            </div>

            <div class="col-12 d-flex justify-content-center mt-2 mb-2">
                <a href="{% url 'busqueda_libros' %}?titulo={{request.session.params_libros.titulo}}&autor={{request.session.params_libros.autor}}&ano={{request.session.params_libros.ano}}&descriptores={{request.session.params_libros.descriptores}}&archivo={{request.session.params_libros.archivo}}" 
                    class="btn btn-secondary">↶ Regresar</a>&nbsp;
                <button id="submit" type="submit" class="btn btn-danger" id="submit">Enviar Formulario</button>
            </div>            
        </div>
    </form>
</div>
{% endblock %}