    {% for libro in libros %}
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 title="
          {% for descriptor in libro.descriptores.all %}{{descriptor}}{% if not forloop.last %}, {% endif %}{% endfor %}
          ">{{libro.titulo}}</h5>
          <div class="row">
            <div class="col-md-8 col-sm-12">
              <ul>
                <li><b>Autores:</b> {{libro.autores}}</li>
                <li><b>Año:</b> {{libro.ano_publicacion}}</li>
                <li><b>Código:</b> {{libro.codigo}}</li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-12">
              <ul>
                <li><b>C. de Inf.:</b> {{libro.cdinf}}</li>
                <li><b>C. de LC:</b> {{libro.cdlc}}</li>
                <li><b>C. de Cuter:</b> {{libro.cdcuter}}</li>
                <li><b>C. de Dewey:</b> {{libro.cddew}}</li>
              </ul>
            </div>
            {% if libro.resumen %}
            <div class="col-12">
              <hr>
              <p><b>RESUMEN:</b> {{libro.resumen}}</p>              
            </div>
            {% endif %}
          </div>

          {% if libro.direccion %}
          <hr>
          <div class="d-flex justify-content-center">
            <div>
                <a href="{{libro.direccion_servidor}}" class="btn btn-danger">Lectura Digital</a>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    {% if forloop.last and page_obj.has_next %}
      <p class="text-center" 
      hx-get="?page={{page_obj.next_page_number}}&autor={{request.GET.autor}}&titulo={{request.GET.titulo}}&ano={{request.GET.ano}}&descriptores={{request.GET.descriptores}}"
      hx-trigger="intersect once"
      hx-swap="outerHTML">Cargando...</p>
    {% endif %}

    {% empty %}
    <p class="text-center">No se encontraron resultados para su búsqueda.</p>    
    {% endfor %}  
