{% load static %}

<div class="col-md-5 col-sm-12 d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <img src="{% static 'img/logo_indesca.svg' %}" width="auto" style="max-width: 500px;" height="80px" alt="Logo de Indesca" id="logo_principal">
        <hr style="width: 100%;">
        <h3 class="text-center" style="color: #e31e24;">Biblioteca Digital</h3>
        <h6 class="text-center" style="color: #e31e24;">Centro de Información Técnica (CIT)</h6>
    </div>
</div>